.hyperlink {
    -fx-border-color: transparent;
}
.text-area{
	-fx-border-width: 1px;
	-fx-border-color: #cccccc;
	-fx-prompt-text-fill: #8a8a8a;
}
.text-area .content{
	-fx-padding: 0.0 25.0 0.0 25.0;
	-fx-background-color: #f0f0f0;
}
.radio-button .radio{
	-fx-background-color: white;
	-fx-border-color: #cccccc;
	-fx-border-width: 1.0;
	-fx-border-radius: 15.0;
	-fx-pref-width: 25px;
	-fx-pref-height: 25px;
}
.combobox .scroll-bar:vertical{
	-fx-pref-width: 20.0px;
}
#timePane{
    -fx-background-color: white;
    -fx-border-width: 3.0;
    -fx-border-color: linear-gradient(to left, #0f6bff, #0fff7f);
}
#anchorPane{
    -fx-border-width: 3.0 0 0 ;
    -fx-border-color: linear-gradient(to left, #0f6bff, #0fff7f);
}
.list-view {
	-fx-border-color: #64D9EE;
	-fx-border-width: 1.0;
}
.list-view .scroll-bar:vertical{
	-fx-pref-width: 20.0px;
}
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button{
	-fx-pref-height: 15.0px;
	-fx-pref-width: 20.0px;
}
#mainAnchor{
	-fx-background-color: linear-gradient(#0f6bff, #0fff7f);
}
#mainAnchorSub{
	-fx-background-color: linear-gradient(#0fff7f, #0f6bff);
}
#mainButton{
	-fx-background-color: linear-gradient(to left, #0f6bff, #0fff7f);
	-fx-font-size: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
#mainButton:hover{
   -fx-background-color: white;
	-fx-border-width: 3.0;
	-fx-border-color: linear-gradient(to left, #0f6bff, #0fff7f);
	-fx-font-size: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #3a3a3a;
}
#selectionBox{
	-fx-background-color: white;
	-fx-border-width: 1.0;
	-fx-border-color: #cccccc;
	-fx-font-size: 12.0px;
}
#selectionBox .arrow {
    -fx-background-color: #8a8a8a;
    -fx-pref-width: 10.0;
    -fx-pref-height: 5.0;
}
#mainComboBox .list-view .list-cell:hover{
    -fx-font-size: 15.0px;
}
#mainComboBox .arrow {
    -fx-background-color: #8a8a8a;
    -fx-pref-width: 15.0;
    -fx-pref-height: 10.0;
}
#loginLittleField{
	-fx-background-image: url('file:src/resources/login_icon.png');
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: 245.0 0;
	-fx-padding: 0.0 35.0 0.0 25.0;
	-fx-background-color: #f0f0f0;
	-fx-border-width: 1.0;
	-fx-border-color: #cccccc;
	-fx-font-size: 15.0px;
	-fx-prompt-text-fill: #8a8a8a;
	-fx-background-size: 40 40;
}
#passwordLittleField{
	-fx-background-image: url('file:src/resources/lock.png');
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: 250.0 5;
	-fx-padding: 0.0 35.0 0.0 25.0;
	-fx-background-color: #f0f0f0;
	-fx-border-width: 1.0;
	-fx-border-color: #cccccc;
	-fx-font-size: 15.0px;
	-fx-prompt-text-fill: #8a8a8a;
	-fx-background-size: 30 30;
}
#loginField{
	-fx-background-image: url('file:src/resources/login_icon.png');
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: 343.0 3;
	-fx-padding: 0.0 35.0 0.0 25.0;
	-fx-background-color: #f0f0f0;
	-fx-border-width: 1.0;
	-fx-border-color: #cccccc;
	-fx-font-size: 15.0px;
	-fx-prompt-text-fill: #8a8a8a;
	-fx-background-size: 45 45;
}
#passwordField{
	-fx-background-image: url('file:src/resources/lock.png');
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: 350.0 10;
	-fx-padding: 0.0 35.0 0.0 25.0;
	-fx-background-color: #f0f0f0;
	-fx-border-width: 1.0;
	-fx-border-color: #cccccc;
	-fx-font-size: 15.0px;
	-fx-prompt-text-fill: #8a8a8a;
	-fx-background-size: 30 30;
}
#commonField{
	-fx-padding: 0.0 25.0 0.0 25.0;
	-fx-background-color: #f0f0f0;
	-fx-border-width: 1.0;
	-fx-border-color: #cccccc;
	-fx-font-size: 15.0px;
	-fx-prompt-text-fill: #8a8a8a;
}
#commonMiddleField{
	-fx-padding: 0.0 5.0 0.0 5.0;
	-fx-background-color: white;
	-fx-border-width: 1.0;
	-fx-border-color: #cccccc;
	-fx-font-size: 12.0px;
	-fx-prompt-text-fill: #8a8a8a;
}
#commonLittleField{
	-fx-padding: 0.0 5.0 0.0 5.0;
	-fx-background-color: #f0f0f0;
	-fx-border-width: 1.0;
	-fx-border-color: #cccccc;
	-fx-font-size: 11.0px;
	-fx-prompt-text-fill: #8a8a8a;
}
#commonBox{
	-fx-padding: 0.0 5.0 0.0 15.0;
	-fx-background-color: #f0f0f0;
	-fx-border-width: 1.0;
	-fx-border-color: #cccccc;
	-fx-font-size: 15.0px;
}
#commonBox .arrow {
    -fx-background-color: #8a8a8a;
    -fx-pref-width: 15.0;
    -fx-pref-height: 10.0;
}
#commonBoxLittle{
	-fx-background-color: #f0f0f0;
	-fx-border-width: 1.0;
	-fx-border-color: #cccccc;
	-fx-font-size: 11.0px;
}
#commonBoxLittle .arrow {
    -fx-background-color: #8a8a8a;
}
#mainDateField .text-field{
	-fx-padding: 0.0 15.0 0.0 25.0;
	-fx-background-color: #f0f0f0;
	-fx-border-width: 1 0 1 1;
	-fx-border-color: #cccccc;
	-fx-font-size: 15.0px;
	-fx-prompt-text-fill: #8a8a8a;
}
#mainDateField > .arrow-button{
	-fx-border-width: 1 1 1 0;
	-fx-border-color: #cccccc;
	-fx-background-color: #f0f0f0;
	-fx-background-image: url('file:src/resources/cal.png');
  	-fx-background-repeat: no-repeat;
  	-fx-background-size: 40 40;
  	-fx-background-position: 3 0;
}
#mainDateField > .arrow-button > .arrow {
	-fx-pref-width: 30px;
    -fx-padding: 0px;
}
#mainDateFieldLittle .text-field{
	-fx-padding: 0.0 5.0 0.0 10.0;
	-fx-background-color: white;
	-fx-border-width: 1 0 1 1;
	-fx-border-color: #cccccc;
	-fx-font-size: 12.0px;
	-fx-prompt-text-fill: #8a8a8a;
}
#mainDateFieldLittle > .arrow-button{
	-fx-border-width: 1 1 1 0;
	-fx-border-color: #cccccc;
	-fx-background-color: white;
	-fx-background-image: url('file:src/resources/cal.png');
  	-fx-background-repeat: no-repeat;
  	-fx-background-size: 27 27;
  	-fx-background-position: 5 2;
}
#mainDateFieldLittle > .arrow-button > .arrow {
	-fx-pref-width: 20px;
    -fx-padding: 0px;
}
#logoutButton{
    -fx-background-color: transparent;
}
#logoutButton:hover{
    -fx-background-color: rgba(0.0,0.0,0.0,0.1);
    -fx-cursor: hand;
}
#searchButton{
    -fx-background-color: white;
	-fx-border-width: 1.0;
	-fx-border-color: #cccccc;
}
#addButtonLittle{
	-fx-background-color: white;
	-fx-border-width: 3.0;
	-fx-border-color: linear-gradient(to left, #0f6bff, #0fff7f);
	-fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #3a3a3a;
}
#addButtonLittle:hover{
    -fx-background-color: rgba(0.0,0.0,0.0,0.1);
    -fx-cursor: hand;
}
#addButton{
	-fx-background-color: white;
	-fx-border-width: 3.0;
	-fx-border-color: linear-gradient(to left, #0f6bff, #0fff7f);
	-fx-font-size: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #3a3a3a;
}
#addButton:hover{
    -fx-background-color: rgba(0.0,0.0,0.0,0.1);
    -fx-cursor: hand;
}
#blueCheckMain .box {
	-fx-pref-width: 25px;
	-fx-pref-height: 25px;
	-fx-background-radius: 15px; 
	-fx-border-radius: 15px;
	-fx-background-color: white;
	-fx-border-color: #cccccc;
	-fx-border-width: 1.0;
}
#blueCheckMain:selected .box {
	-fx-background-color: #0f6bff;
	-fx-border-color: transparent;
}
#blueCheckMain:selected .mark {
	-fx-background-color: white;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: white;
}
.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 50;
}
.tab-pane{
	-fx-padding: 10 0 0 0;
    -fx-tab-min-width: 150.0px;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
#tabAnchor .tab-header-background {
	-fx-border-width: 0 0 2 0;
    -fx-border-color: #64D9EE;
}
.tab-pane .tab{
	-fx-pref-height: 40.0;
    -fx-background-color: #f0f0f0;
    -fx-border-width: 2;
    -fx-border-color: #64D9EE;
}
.tab:right{
	-fx-padding: 0 20 0 0;
}
.tab-pane .tab:selected{
    -fx-background-color: white;
    -fx-border-width: 2 2 1 2;
    -fx-border-color: #64D9EE #64D9EE white #64D9EE;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #3a3a3a;
    -fx-font-size: 14.0px;
    -fx-font-weight: bold;
}
.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #3a3a3a;
}
.table-view{
    -fx-background-color: white;
}
.table-view:focused{
    -fx-background-color: white;
}
.table-view .column-header {
    -fx-background-color: white;
}
.table-view .column-header .label {
    -fx-text-fill: #3a3a3a;
    -fx-font-weight: bold;
}
.table-view .table-cell{
    -fx-text-fill: black;
    -fx-font-size: 12.0px;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;
}
.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #f6eded;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;
}
.table-view .filler{
	-fx-background-color: white;
}
#numberColumn{
    -fx-font-weight: bold;
}
.table-row-cell:selected .table-cell {
    -fx-background-color: #b7f4ff;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0.0;
}
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #3a3a3a;
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-background-radius: 0.0;
}
.table-view .scroll-bar .thumb:hover,
.table-view .scroll-bar .thumb:pressed{
    -fx-background-color: #a2a2a2;
}